html, body {
	margin: 0;
	width: 100%;
	color: #333333 !important;
	font-family: 'Lato', sans-serif !important;
}

h1, h2, h3, h4, h5 {
	font-family: 'Muli', serif !important;
}

#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

#header {
	background-color: #ff6677;
	color: #fff;
}

#headerHeading {
	font-size: 60pt;
	line-height: 108pt;
	margin-top: 60pt;
}

#headerHeadingA {
	color: #fff;
	text-decoration: none;
}

#body {
	flex: 1;
}

#footer {
	background-color: #333333;
	color: #fff;
	padding-top: 16pt;
	padding-bottom: 16pt;
}

.footerImg {
	width: 24px;
	height: 24px;
	margin-left: 4px;
	margin-right: 8px;
}

.footerImg:hover {
	width: 28px;
	height: 28px;
	margin-left: 2px;
	margin-right: 6px;
}

.imgColorInvert {
	-webkit-filter: invert(1);
   filter: invert(1);
}

#footerP {
	font-size: 11pt;
	line-height: 16pt;
	display: block;
	clear: both;
}