#postimg {
	width: 86%;
	margin-left: 7%;
	box-shadow: 0 1.6em 0 -1em #777777;
	margin-bottom: 32px;
}

#posttxt {
	padding-top: 16px;
	padding-bottom: 16px;
}

.postLink {
	color: #333333;
	text-decoration: none;
}

.postLink:hover, .postLink:active {
	color: #333333;
	text-decoration: underline;
}