---
layout: default
title: "Sizable Stain"
---
<div class="container">
    {% for post in site.posts limit: 1 %}
        {% include card.html
            isVertical=false
            postUrl=post.url
            postTitle=post.title
            postImg=post.img
            postAuthor=post.author
            postAuthorUrl=post.authorUrl
            postDate=post.date
            showDescription=true
            postDescription=post.description
        %}
    {% endfor %}
    <div class="row">
        {% for post in site.posts offset: 1 limit: 4 %}
            <div class="col-sm-6">
                {% include card.html
                    isVertical=true
                    postUrl=post.url
                    postTitle=post.title
                    postImg=post.img
                    postAuthor=post.author
                    postAuthorUrl=post.authorUrl
                    postDate=post.date
                    showDescription=true
                    postDescription=post.description
                %}
            </div>
        {% endfor %}
    </div>
    <br>
    <div class="row" id="viewAllRow">
        <a id="viewAllButton" href="/articles">View All Articles</a>
    </div>
    <br>
</div>