<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <p id="footerP">Sizable Stain is an art criticism publication in Philadelphia run by people of color.</p>
                <a href="https://facebook.com/sizablestain" target="_blank">
                    <img class="footerImg" src="/img/facebook.png">
                </a>
                <a href="https://instagram.com/sizablestain" target="_blank">
                    <img class="footerImg imgColorInvert" src="/img/instagram.png">
                </a>
            </div>
            <div class="col-sm-2"></div>
            <div class="col-sm-6" align="right">
                <!-- Begin MailChimp Signup Form -->
                <link rel="stylesheet" href="/css/mailchimp.css">
                <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                <div id="mc_embed_signup">
                    <form action="https://sizablestain.us17.list-manage.com/subscribe/post?u=116c7176ded689d0aed7a1508&amp;id=51dc1e43c0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@example.com" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                <input type="text" name="b_116c7176ded689d0aed7a1508_51dc1e43c0" tabindex="-1" value="">
                            </div>
                            <div class="clear">
                                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                            </div>
                        </div>
                    </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
    </div>
</div>