---
layout: default
---
<link rel="stylesheet" href="/css/post.css">
<link rel="stylesheet" href="/css/card.css">
<div class="container">
    <h2>{{ page.title }}</h2>
    <p><small><span><a href="{{ page.authorUrl }}" class="postLink">{{ page.author }}</a></span>&nbsp;&nbsp;•&nbsp;&nbsp;<span>{{ page.date | date: '%B %d, %Y' }}</span></small></p>
    <img src="{% if page.img %}{{ page.img }}{% endif %}" id="postimg">
    <div class="row">
        <div class="col-sm-8">
            <div id="posttxt">
                {{ content }}
            </div>
        </div>
        <div class="col-sm-4">
            {% include popular.html %}
        </div>
    </div>
</div>
