---
layout: default
---
<link rel="stylesheet" href="/css/post.css">
<div class="container">
    <h2>{{ page.title }}</h2>
    <p><span><a href="/writers" class="postLink">{{ page.author }}</a></span>&nbsp;&nbsp;•&nbsp;&nbsp;<span>{{ page.date | date: '%B %d, %Y' }}</span></p>
    <img src="{% if page.img %}{{ page.img }}{% endif %}" id="postimg">
    <div class="row">
        <div class="col-sm-8">
            <div id="posttxt">
                {{ content }}
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
</div>
